
    
     
        <header class="backdrop-blur-sm bg-white/15 h-[8vh] flex items-center px-4 rounded-3xl w-[80%] m-auto  justify-around border-amber-50 border-2 fixed left-1/2 transform -translate-x-1/2 top-2 shadow-2xl z-50 max-w-[800px] mt-4">
            <a class="text-4xl  hover:text-red-300 h-[100%] flex items-center w-[33%] justify-center rounded-tl-3xl rounded-bl-3xl text-white cursor-pointer transition-colors duration-300" href="#home">Inicio</a>
            <a class="text-4xl  hover:text-red-300 h-[100%] flex items-center w-[33%] justify-center text-white cursor-pointer transition-colors duration-300" href="#projects">Proyectos</a>
            <a class="text-4xl  hover:text-red-300 h-[100%] flex items-center w-[33%] justify-center rounded-tr-3xl rounded-br-3xl text-white cursor-pointer transition-colors duration-300" href="./cv/cv.pdf" download>CV</a>
        </header>
